/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: #f3f3f3;
  font-family: 'Asap', sans-serif;
  line-height: 1.5;
}

.post-container {
  width: 100%;
  margin: 0 auto;
  /*background-color: yellow;*/
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #0075B9;
  padding: 1em 0;
}

nav {
  padding-left: 10%;
}

a {
  color: #0c3145;
  text-decoration: none;
  padding: 1em;
  transition: color ease 0.3s;
  line-height: 1;
}

nav a:hover {
  color: #bde6fd;
}

nav a.active {
  color: #dcf2ff;
}

nav a:first-child {
  padding-left: 0;
}

img {
  width: 100%;
  display: block;
  visibility: show;
  margin: 0 auto;
}

div {
  margin: 0 auto 20vh 10%;
  width: 80%;
  max-width: 800px;
}

h1 {
  font-size: 2.5em;
  padding: 1em 0;
}

h2 {
  font-size: 1.5em;
  padding-bottom: 0.5em;
}

h3 {
  font-size: 1em;
  padding-bottom: 2em;
}

p {
  padding-bottom: 0.8em;
}

b {
  font-weight: bold;
}

i {
  font-style: italic;
}
